h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 53px;
    margin: 0px 0 16px 0;
    color: #1D2129;
}

a {
    color: #1D2129;
    text-decoration: none;
    display: inline-block
}

a:hover {
    color: #4080FF;
    text-decoration: none;
}

a:hover h5 {
    color: #4080FF;
    text-decoration: none;
}

.paddingY-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.paddingY-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.paddingY-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.header-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar {
    padding: 24px 0px;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
    background-color: rgba(255, 255, 255, .98)!important;
}

.card {
    display: inline-block;
    position: relative;
    background-color: white;
    vertical-align: top;
    text-align: left;
    margin: 32px 20px 64px 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
    white-space: normal;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    color: #4B4F56;
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 40px 40px rgba(0, 0, 0, .16);
    transform: translate(0, -20px);
    transition-delay: 0s !important;
}

.header-desc {
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 10px;
    color: #90949C !important;
}

.filter {
    text-transform: capitalize;
    line-height: 32px;
    display: block!important;
    font-size: 14px;
    color: #90949C;
    padding: 0;
    border: none;
}

.filter a span {
    margin-left: 8px;
}

#footer {
    max-width: 1185px;
    width: 100%;
    margin: 110px auto 110px auto;
    padding: 0 20px;
}

.copyright {
    margin: 26px 0;
    margin-left: 12px;
    display: inline-block;
    color: #90949C;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    vertical-align: top;
}

#footer-links li {
    display: inline-block;
    line-height: 66px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-position: left center;
}

#content-editor .wrap {
    width: 100%;
    background: #fafafa;
    border-radius: 8px;
    padding: 10px;
}

#content-editor .toolbar {
    width: 100%;
    margin: 0 auto 10px;
}

#content-editor button {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: none;
    border: 1px solid #fafafa;
    box-sizing: border-box;
    padding: 0;
    font-size: 20px;
    color: #a6a6a6;
    cursor: pointer;
    outline: none;
}

#content-editor button:hover {
    border: 1px solid #a6a6a6;
    color: #777;
}

#content-editor #bold,
#content-editor #italic,
#content-editor #underline {
    font-size: 18px;
}

#content-editor #underline,
#content-editor #align-right {
    margin-right: 17px;
}

#content-editor #align-left {
    margin-left: 17px;
}

#content-editor select {
    height: 24px;
    font-size: 15px;
    font-weight: bold;
    color: #444;
    background: #fcfcfc;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    margin: 0;
    outline: none;
    cursor: pointer;
}

#content-editor select>option {
    font-size: 15px;
    background: #fafafa;
}

#content-editor #fonts {
    width: 140px;
}

#content-editor .sp-replacer {
    background: #fcfcfc;
    padding: 1px 2px 1px 3px;
    border-radius: 3px;
    border-color: #a6a6a6;
    margin-top: -1px;
}

#content-editor .sp-replacer:hover {
    border-color: #a6a6a6;
    color: inherit;
}

#content-editor .sp-preview {
    width: 15px;
    height: 15px;
    border: none;
    margin-top: 2px;
    margin-right: 3px;
}

#content-editor .sp-preview-inner,
#content-editor .sp-alpha-inner,
#content-editor .sp-thumb-inner {
    border-radius: 3px;
}

.editor {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-all;
    outline: none;
}

#content-editor .table-bordered {
    border: 1px solid #ddd;
}

#content-editor .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

#content-editor .table td {
    padding: 8px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
}